<section class="row">
  <article class="column">
    <ul>
      <li><%= @diastolic %></li>
      <li><%= @systolic %></li>
      <li><%= @pulse %></li>
      <li><%= @weight %></li>
      <li><%= @average_diastolic %></li>
      <li><%= @average_systolic %></li>
      <li><%= @average_pulse %></li>
      <li><%= @bmi %></li>
    </ul>
  </article>
  <article class="column">
    <input>
  </article>


</section>